*
{
margin: 0;
padding: 0;
}

html 
{
    scroll-behavior: smooth;
}

::selection
{
    color: black;
    background: rgb(255, 255, 255);
}


body
{
    background: rgb(184, 184, 184);
}


.togglenav
{
    display: flex;
    justify-content: center;
}


#btn-click
{
    background: rgb(255, 255, 255);
}


.line
{
    background: rgb(0, 0, 0);
    width: 50px;
    height: 1px;
    margin: 10px;
    padding: 1px;   
}


#btn-click:hover
{
    box-shadow: 0px 0px 21px black;
}


.hidden
{
    display: none;
}


.show
{
    background: white;
    text-align: center;
    font-size: 25px;
    margin: 10px auto;
    padding: 1rem 1rem;
    display: block;
    width: fit-content;
    font-family: roboto;
    border-radius: 10px;
    cursor: pointer;
}


ul:hover
{
    color: rgb(89, 29, 255);
}


ul
{
    color: rgb(235, 9, 84);
    font-weight: bold;  
    font-size: 20px;
    font-family: roboto;
    cursor: pointer;
    background: rgb(255, 255, 255);
    padding: 10px 10px;
    border-radius: 12px;
    border: 1px solid black;   
    box-shadow: 0px 2px 8px rgb(235, 9, 84);
}


a
{
    text-decoration: none;
    color: rgb(235, 9, 84);
}


a:hover
{
    color: rgb(89, 29, 255);
}


.home
{
    color: rgb(89, 29, 255);
}

.navinside

{
    background: rgb(59, 60, 65);
    text-align: center;
    display: flex;
    justify-content: center;   
    padding: 10px;
}


.navinside ul
{
    margin: 0.2rem 3rem;
    align-items: center;
    font-size: 30px;
    font-family: roboto;
}


.mainbox
{
    display: flex;
    justify-content: center; 
}


.card
{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    margin: 10px;
    padding: 10px;
    background: rgb(58, 9, 235);
    border-radius: 17.3px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 2px 12px white;
}


.card:hover
{
    transform: scale(1.08);
}




.checkMySkillss
{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px;
    border-radius: 17.3px;
    margin: 10px;
    text-shadow: 2px 5px 12px black;
}


.heading
{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
    font-family: roboto;
    cursor: pointer;
}



.loader1
{
    height: 2rem;
    width: 40rem;
    background: rgb(235, 9, 84);
    margin: 10px 0px;
    font-family: roboto;
    border-radius:  0px 0px 30px;
    color: rgb(255, 255, 255);
    padding: 4px;
    
}


.loader2
{
    height: 2rem;
    width: 30rem;
    background: rgb(235, 9, 84);
    margin: 10px 0px;
    font-family: roboto;
    border-radius: 0px 0px 30px;
    color: white;
    padding: 4px;
}


.loader3
{
    height: 2rem;
    width: 20rem;
    background: rgb(235, 9, 84);
    margin: 10px 0px;
    font-family: roboto;
    border-radius:  0px 0px 30px;
    color: white;
    padding: 4px;
}


@media only screen and (max-width: 702px)


{
    .loader1
    {
        width: 60%;
    }
    .loader2
    {
        width: 40%;
    }
    .loader3
    {
        width: 20%;
    }
}


@media only screen and (min-width: 596px)
{
.togglenav
{
    display: none;
}


.show
{
    display: none;
}


.card
{
display: flex;
flex-direction: row;
}
}


@media only screen and (max-width: 596px)
{
.mainnav
{
    display: none;   
}
}


@media only screen and (max-width:910px)
{
.mainbox
{
display: block;
}
}

.contactbox
{
    text-align: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 10px;
    border-radius: 17.3px;
    margin: 10px;
   

}

input
{
    padding: 12px; 
    border-radius: 10px;
    outline: none;
    border: none;
    color: rgb(58, 9, 235);

}


.contactform
{
    padding: 8px 10px;
    margin: auto;
}

#contact
{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3rem;
    font-family: roboto;
    text-shadow: 2px 5px 12px black;
}

button
{
    color: rgb(255, 255, 255);
    background: rgb(58, 9, 235);
    border-radius: 17.3px;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    box-shadow: 1px 4px 7px black;
    font-size: 1rem;
    cursor: pointer;
}

button:hover
{
    background: rgb(235, 9, 84);
}