
body
{
    color: white;
    background: rgb(15, 10, 39);
    font-family: roboto;
    font-size: 25px;

}

p
{
   color: rgb(19, 51, 230);
}

button
{
    color: rgb(19, 51, 230);
    border: 2px solid rgb(19, 51, 230);
    border-radius:30px;
    padding: 10px 100px;
    background: white;
    font-family: roboto;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(19, 51, 230);
    width: 300px;
    outline: none;
}



button:hover
{
    background:rgb(19, 51, 230);
    border: 2px solid white;
    color: white;
}

::selection
{
    color: blue;
    background-color: white;
}

.main
{
    position: absolute;
    left: 32%;
    top: 20%;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 10px 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(19, 51, 230);
    background: rgb(255, 255, 255);
}

#demo
{
    color: rgb(19, 51, 230);
    border-radius: 30px;
   
}