body
{
background: rgb(45, 44, 48);
padding: 1em;
font-family:roboto;

}

.headd
{
   
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
}



.one
{
    display: inline-block;
    border-radius: 8px;
    padding: 7px; 
    font-size: 1.8em;
    color: white;
    cursor: pointer;
   
}

.one:hover
{
 color:rgb(60, 255, 0);
}



.one 
{
    -webkit-user-select: none; 
    -ms-user-select: none; 
     user-select: none; 
  }



.second
{
    color: white;

}


.home
{
    display: inline-block;
    border-radius: 8px;
    padding: 7px; 
    cursor: pointer;
}



.home:hover
{
    color: rgb(60, 255, 0);
}


.getstarted
{
    display: inline-block;
    border: solid 2px white;
    border-radius:15px;
    padding: 6px;
    cursor: pointer;
}


.home1
{
    display: inline-block;
    background: transparent;
    color: rgb(60, 255, 0);
    border: solid 2px rgb(60, 255, 0);
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
}


.home1:hover
{
    color: white;
    border: solid 2px rgb(255, 255, 255);
}

.getstarted:hover
{
    color: rgb(60, 255, 0);
    border: solid 2px rgb(60, 255, 0);
}



#get
{
    color: rgb(255, 255, 255);
    border: solid 2px white;
    border-radius:15px;
    padding: 6px;
    cursor: pointer;
}

#get:hover
{
    color: rgb(60, 255, 0);
    border: solid 2px rgb(60, 255, 0);

}

.para
{
    color: white;
    font-size:2em;
    border: solid 2px white;
    padding: 17px;
    display: block;
}



.buttonflex
{
    display: flex;
    margin: 18px;
    justify-content: space-evenly;
}


.hireme
{
    color: rgb(60, 255, 0);
    border: solid 2px rgb(60, 255, 0);
    font-size: 1.8em;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.hireme:hover
{
    color: white;
    border: solid 2px rgb(255, 255, 255);
}

.portfolio
{
    color: white;
    font-size: 1.8em;
    border: solid 2px white;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;

}


.portfolio:hover
{
    color: rgb(60, 255, 0);
    border: solid 2px rgb(60, 255, 0);

}



.main
{
margin: 10px;
padding: 35px;
display: flexbox;
}

.para1
{
    color: white;
    font-size:2em;
    border: solid 2px white;
    padding: 17px;
    display: block;
    margin: 37px;
}

.rate
{
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    padding: 1rem;


}

.cate
{
    outline: solid white 2px;
    margin: 37px;
    padding: 40px 10px;
    position: relative;
    color: white;
}




.load1
{
    background: rgb(60, 255, 0);
    width: 300px;
    height: 10px;
    position: relative;
    display: flex;
    height: 20px;
    color: black;
    font-weight: 700;
    
}

@media screen and (max-width: 1030px) 
    {
    .load1
    {
        width: 80px;
    }
}


.load2
{
    background: rgb(60, 255, 0);
    width: 600px;
    position: relative;
    display: flex;
    height: 20px;
    color: black;
    font-weight: 700;
 
}


@media screen and (max-width: 1030px) 
    {
    .load2
    {
        width: 140px;
    }
}


.load3
{
    background: rgb(60, 255, 0);
    width: 900px;
    height: 10px;
    position: relative;
    display: flex;
    height: 20px;
    color: black;
    font-weight: 700;
}

@media screen and (max-width: 1030px) 
    {
    .load3 
    {
        width: 270px;
    }
}


p6
{
    font-style: italic;
}


@media screen and (max-width: 830px)
    {
        .second
        {
            display: none;
        }
    }

 

 .second1
{
    color: rgb(0, 0, 0);
    display: flexbox;
    justify-content: center;
    text-align: center;
    font-size: 26.9px;
    background-color: rgb(60, 255, 0);
    padding: 8px;

}   


.home-11:hover
{
    color: white;
    cursor: pointer;
    display: inline-block;
    background: #000;
    border-radius: 2px;
}
    


.home-1:hover
{
    color: white;
    cursor: pointer;
    display: inline-block;
    background: #000;
    border-radius: 2px;
}

.getstarted-1:hover
{
    color: white;
    cursor: pointer;
    display: inline-block;
    background: #000;
    border-radius: 2px;
}

@media screen and (min-width: 830px)
    {
        .second1
        {
          display: none;
        }
    }

